@media screen and (max-width: 3000px) and (min-width:611px){ 
    body{ 
        margin: 0px;
        padding: 0px;
    }


    /*La partie header du site web*/
    .wrapp1{ 
       /* border: 2px solid green;*/
        height: 60px;
    }
    .logo{
       /* border: 2px solid red;*/
        float: left;
        margin-left: 10px;
        margin-top: 10px;
        width: 220px;
    }
    nav{ 
        /*border: 2px solid blue;*/
        float: right;
    }
    a{ 
        color: black;
    }
    ul{ 
        list-style: none;
        text-decoration: none;
        padding: 0px;
    }
   nav ul li{ 
       display: inline-block;
       font-family: 'Roboto', sans-serif;
       font-weight: bold;
       padding: 0px 15px;
       color: #9356DC;
   }
   nav ul li:hover{
       color:  #9356DC;
   }
   nav ul li:first-child{ 
       border-right: 2px solid #9356DC;
   }
   nav ul li:nth-child(2){ 
    border-right: 2px solid #9356DC;
}
    .search{ 
        /*border: 1px solid gray;*/
        border-top: 3px solid #CECECE;
        justify-content: center;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:  #ECECEC;
    }
    
    .span-loc{ 
        /*border: 1px solid red;*/
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333438;
    }
    .span-ville{ 
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: #333438;
    }
    .Reservation{ 
       /* border: 1px solid green;*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #F4F4F4;
        padding-bottom: 40px;
    }
    br{ 
        display: none;
    }
    .P1-R{ 
        font-family: 'Roboto', sans-serif;
        font-size: 43px;
        font-weight: 900;
        margin-bottom: 0px;
        text-align: center;
    }
    .P2-R{ 
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        margin-bottom: 0px;
        text-align: center;
        margin-bottom: 20px;
        color: grey;
    }

    .bt-explorez{ 
        height: 50px;
        border-radius: 40px;
        color: #EEEEEE;
        border: 0px;
        background: linear-gradient(180deg, #E47AF6, #9356DC);
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 17px;
        padding: 0px 20px;
        box-shadow:0px 0px 20px #0000002e;
    }
    .bt-explorez:hover{ 
        background: linear-gradient(180deg, #D38CEA, #D38CEA);
        box-shadow:0px 0px 30px #9C9C9C;
    }
    
/*La fin de la partie header du site web*/
/*La partie body du site web*/
    
    .fct{ 
       /* border: 2px solid blue;*/
        height: auto;
        padding-bottom: 0px;
    }
    .p-fct{ 
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 900;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .content-step{ 
        /*border: 2px solid green;*/
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .step{ 
      /*  border: 1px solid red;*/
        height: 70px;
        width: 440px;
        margin: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 30px;
    }
    .step:hover{ 
        transition-duration: 0.4s;
        transform: scale(1.1,1.1);
    }
    .icone{ 
       /* border: 1px solid purple;*/
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color:#9356DC ;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 15px;
        font-family: 'Roboto', sans-serif;
    }
    .descri{ 
        /*border: 1px solid orange;*/
        width: 90%;
        height: 100%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        background-color: #F4F4F4;
        box-shadow:0px 0px 20px #0000002e;
    }
    .fa-mobile-alt,.fa-list-ul,.fa-store{ 
        margin-left: 27px;
        margin-right: 15px;
    }
    .p-descri{ 
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
    .main-content{ 
    /* border: 2px solid green;*/
     background-color: #F4F4F4;
     padding-top: 20px;
     padding-bottom: 65px;
    }
    .p-main-content{ 
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 900;
        margin-left: 20px;
    }
    .div-arti{ 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1.5em;
        column-gap: 1.5rem;
       /* border: 2px solid blue;*/
        padding: 0px 15px;
    }
    article{ 
       /* border: 1px solid red;*/
        height: 100px;
        border-radius: 20px;
        height: 250px;
        box-shadow:0px 0px 20px #0000002e;
    }
    article:hover{ 
        transition-duration: 0.4s;
        transform: scale(1.04,1.04);
    }
    .p-arti{ 
        display: inline-block;
        margin-bottom: 0px;
        margin-left: 10px;
        width: 85%;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }
    .sp-arti{
        margin-top: 2px;
        margin-left: 10px;
        display: block;
        font-family: 'Roboto', sans-serif;
    }
    
    .div-img{ 
       /* border: 2px solid blue;*/
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        height: 70%;
        position: relative;
    }
    .new{ 
        position: absolute;
        right: 15px;
        top: 15px;
        background-color: #99E2D0;
        padding: 10px 20px;
        color:#2E6B3F;
        font-family: 'Roboto', sans-serif;
        border-radius: 5px;
        font-weight: bold;
    }
    .img-1{ 
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    .div-descri{
       /* border: 2px solid orange;*/
        height: 28%;
    }
    .div-p-descri{ 
        /*border: 1px solid red;*/
        width: 70%;
    }
    .p-arti{
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }
    .sp-arti{
        margin-top: 2px;
        margin-left: 10px;
        display: block;
        font-family: 'Roboto', sans-serif;
    }
    .div-icone-arti{ 
        /*border: 1px solid red;*/
        display: block;
        width: auto;
        margin-top: 10px;
        float: right;
    }
    /*.fa-heart{ 
        font-size: 30px;
        opacity: 1;
    }*/
    .fa-plein-acceuil{ 
        opacity: 0;
        transform: translateX(-34px);
    }
    
    .fa-plein-acceuil:hover{ 
        opacity: 1;
        color: #E47AF6;
        transition-duration: 2.5s;
    }
    /*La fin de la partie body du site web*/


    /*Le footer*/
    footer{ 
        /*border: 2px solid blue;*/
        height: auto;
        background-color: #333438;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .div-logo-F{
       /* border: 1px solid blue;*/
        margin: 10px 20px;
        color: white;
        width: 100px;
    }
    .logo-F{ 
        height: 100%;
        width: 100%;
        filter: invert(100%);
    }
    .contain-foot{ 
      /*  border: 2px solid red;*/
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
        margin-right: 20px;
    }
    .div1,.div2,.div3,.div4{
      /*  border: 3px solid blue;*/
        width: 280px;
        height: 40px;
        display: flex;
        align-items: center;
    }
    .sp-foot{ 
        filter: invert(100%);
        margin-right: 10px;
    }
    .descri-foot{ 
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    a{ 
        text-decoration: none;
    }
    .descri-foot:hover{ 
        text-decoration: underline;
    }



    /*Le Css Des pages articles*/
    .fa-arrow-left{ 
      visibility: hidden;
    }
    .logo{ 
        height: 60%;
        min-width: 200px;
    }
    .sp-arrow{ 
        /*border: 1px solid red;*/
        width: 30%;
        padding-left: 10px;
    }
    .picture-palette{ 
        /*border: 2px solid green;*/
        height: 400px;
        width: 100%;
    }
    .img-presentation{ 
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .Menu{ 
        /*border: 2px solid red;*/
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        margin-top: -44px;
        width: 100%;
        position: absolute;
        z-index: 2;
        background-color: #F4F4F4;
    }
    .picture-la-francaise{ 
        /*border: 2px solid blue;*/
        height: 530px;
        padding: 0px;
        margin: 0px;
        object-fit: cover;
    }
    
    .picture-note-enchantes{ 
        /*border: 2px solid blue;*/
        height: 530px;
        padding: 0px;
        margin: 0px;
        object-fit: cover;
    }
    
    .picture-delices-sens{ 
        /*border: 2px solid blue;*/
        height: 530px;
        padding: 0px;
        margin: 0px;
        object-fit: cover;
    }

    .heade-menu{ 
        /*border: 3px solid blue;*/
        height: auto;
        padding-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title-restaurant{ 
        font-family: 'Shrikhand', cursive;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 50px;
        margin-right: 20px;
    }
    .fa-vide{ 
        font-size:20px;
    }
    /*Le css des animation au survole du j'aime */
    .fa-heart{ 
        font-size: 30px;
    }
    .fa-plein-PG{ 
        opacity: 0;
        font-size: 30px;
        cursor: pointer;
        transform: translateX(-30px);
    }
    
    .fa-plein-PG:hover{ 
        opacity: 1;
        color: #E47AF6;
        transition-duration: 2.5s;
    }
    .fa-plein-LF{ 
        opacity: 0;
        transform: translateX(-30px);
    }
    
    .fa-plein-LF:hover{ 
        opacity: 1;
        color: #E47AF6;
        cursor: pointer;
        transition-duration: 2.5s;
    }
    .fa-plein-NE{ 
        opacity: 0;
        transform: translateX(-30px);
    }
    
    .fa-plein-NE:hover{ 
        opacity: 1;
        color: #E47AF6;
        cursor: pointer;
        transition-duration: 2.5s;
    }
    .fa-plein-DS{ 
        opacity: 0;
        transform: translateX(-30px);
    }
    
    .fa-plein-DS:hover{ 
        opacity: 1;
        color: #E47AF6;
        cursor: pointer;
        transition-duration: 2.5s;
    }

/*La fin du css des animation au survole du j'aime */


    .plat{ 
        /*border: 2px solid green;*/
        padding: 0px 50px;
        margin-top: 20px;
    }
    .title-plat-1,.title-plat-2,.title-plat-3{ 
        margin-top: 0px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-size: 3vw;
        margin-bottom: -5px;
    }
    .separator-1,.separator-2,.separator-3{ 
        display: inline-block;
        width: 10%;
        border: 1px solid #95DAC4;
    }
    .title-plat-1{ 
        margin-top: 0px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: -5px;
        position: relative;
        animation-name: fadeinup;
        animation-duration: 2s;
        animation-delay: 0.4s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .title-plat-2{ 
        margin-top: 0px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: -5px;
        position: relative;
        animation-name: fadeinup;
        animation-duration: 2s;
        animation-delay: 0.8s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .title-plat-3{ 
        margin-top: 0px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: -5px;
        position: relative;
        animation-name: fadeinup;
        animation-duration: 2s;
        animation-delay: 1.2s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .separator-1{ 
        display: inline-block;
        width: 80px;
        border: 1px solid #95DAC4;
        position: relative;
        animation-name: fadeinup;
        animation-duration: 2s;
        animation-delay: 0.4s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .separator-2{ 
        display: inline-block;
        width: 80px;
        border: 1px solid #95DAC4;
        position: relative;
        animation-name: fadeinup;
        animation-duration: 2s;
        animation-delay: 0.8s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .separator-3{ 
        display: inline-block;
        width: 80px;
        border: 1px solid #95DAC4;
        position: relative;
        animation-name: fadeinup;
        animation-duration: 2s;
        animation-delay: 1.2s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .div-entre{ 
        /*border:2px solid red;*/
        margin-top: 15px;
        display: grid;
        position: relative;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        row-gap: 22px;
        margin-bottom: 40px;
        animation-name: fadeinup;
        animation-duration: 2s;
        animation-delay: 0.4s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    
    .Plats-titre{ 
       /* border:2px solid red;*/
        margin-top: 15px;
        display: grid;
        position: relative;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        row-gap: 22px;
        margin-bottom: 40px;
        animation-name: fadeinup;
        animation-duration: 2s;
        animation-delay: 0.8s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    
    .Desserts{ 
        /*border:2px solid red;*/
        margin-top: 15px;
        display: grid;
        position: relative;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        row-gap: 22px;
        animation-name: fadeinup;
        animation-duration: 2s;
        animation-delay: 1.2s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .plats{
        height: auto;
        cursor: pointer;
        width: 100%;
        min-height: 90px;
        border-radius: 20px;
        box-shadow:0px 0px 20px #0000002e;
       /* border: 1px solid blue;*/
        overflow: hidden;
    }
    .plats:hover{
        transform: scale(1.04);
        transition-duration: 0.4s;
    }
    .description{ 
        /*border: 1px solid red;*/
        height: 100%;
        padding-left: 10px;
        width: 100%;
        background-color: white;
        float: left;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    h2{ 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 19px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        margin-right: 4px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 13px;
        /*border: 1px solid blue;*/
    }
    .sp-I{ 
        font-family: 'Roboto', sans-serif;
       /* border: 1px solid blue;*/
        width: 155px;
        font-size: 15px;
    }
    .prix{ 
       /* border: 1px solid orange;*/
        float: right;
        font-family: 'Roboto', sans-serif;
        margin-right: 14px;
    }
    
    .sp-I{ 
        font-family: 'Roboto', sans-serif;
       /* border: 1px solid blue;*/
        width: 155px;
        font-size: 16px;
        position: relative;
        top: 12px;
    
    }
    .prix{ 
        /*border: 1px solid orange;*/
        float: right;
        font-family: 'Roboto', sans-serif;
        margin-right: 14px;
        position: relative;
        top: 12px;
        margin-right: 25px;
    }
    .div-spinner{ 
       /* border: 2px solid red;*/
        height: 100%;
        background-color: #99E2D0;
        font-size: 30px;
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
    }
    .fa-check-circle{ 
        transform: rotate(90deg);
    }
    .description:hover{ 
        width: 70%;
        transition-duration: 1s;
    }
    .plats:hover .fa-check-circle{
        transition-duration: 1s;
        transform: rotate(360deg);
    }

    .div-CMD{ 
        display: flex;
        justify-content: center;
        align-items: center;
       /* border: 2px solid blue;*/
        height: 140px;
    }
    .bt-commande{ 
        height: 58px;
        width: 211px;
        border-radius: 40px;
        color: #EEEEEE;
        border: 0px;
        background: linear-gradient(180deg, #E47AF6, #9356DC);
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 17px;
        padding: 0px 20px;
        box-shadow:0px 0px 20px #0000002e;   
    }
    .bt-commande:hover{ 
        background: linear-gradient(180deg, #D38CEA, #D38CEA);
        box-shadow:0px 0px 30px #9C9C9C;
    
    }
/*Le css des animation du site web */
/*Le css du LOADER*/
.animation{ 
    display: flex;
    border: 0px;
    position: absolute;
    justify-content: center;
    background-color: white;
    z-index:2;
    width: 100%;
    height: 2265px;
    animation-name: anime;
    animation-fill-mode: forwards;
    animation-duration: 10s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    overflow: hidden;
}
.loader{ 
    margin: auto;
    margin-top: 300px;
    margin-bottom: 100px;
    border: 5px solid black;
    width: 141px;
    height: 141px;
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
    border-radius: 50%;
    animation: chargeur 4s linear 1;
}
.loading-title{ 
    font-family: 'Shrikhand', cursive;
    position: absolute;
    transform: translateY(336px);
    animation-name: anime-title-loading;
    animation-duration: 4s;
}

@keyframes anime{ 
    0%{opacity: 1;}
    20%{opacity: 1;}
    40%{opacity: 0;}
    80%{opacity: 0;height: 0px;}
    100%{opacity: 0;height: 0px;}
    100%{opacity: 0; height: 0px;}
}
@keyframes chargeur{ 
    0%{transform: rotate(360deg) scale(1);}
    25%{transform: rotate(720deg) scale(1.3);}
    50%{transform: rotate(1440deg) scale(1);}
    100%{transform: rotate(1800deg) scale(1.3);}
}
@keyframes anime-title-loading{ 
    0%{transform: translateY(336px); color: black;}
    25%{transform:translateY(336px); color:  #9356DC;}
    50%{transform: translateY(336px); color: black;}
    100%{transform: translateY(336px); color:  #9356DC;}

}


/* fin du css du loader*/

 /*le css des plats*/

 @keyframes fadeinup{
    from{opacity: 0; top: 60px;}
    to{opacity: 1; top: 0px;}
}
/*Fin du animtion en css des plats*/
}




